* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100vw;
  height: 100vh;
  overflow-y: hidden ;

  
  font-family: "PP Neue Montreal", sans-serif;

}



/* Logo */
.logo {
  position: fixed;
  top: 1.5em;
  left: 1.5em;
  z-index: 10;
}

.logo a {
  text-decoration: none;
  color: #000;
  font-weight: 500;
  font-size: 1.5rem;
}

/* Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vh; /* rotated width */
  height: max-content;
  display: flex;
  align-items: flex-start;
  transform: rotate(-90deg) translate(-100%, 0);
  transform-origin: left top;
  padding: 1.5em 2em;
  z-index: 5;
}

.sidebar > div:nth-child(1) {
  flex: 2;
}

.sidebar > div:nth-child(2) {
  flex: 2;
  display: flex;
  gap: 4em;
}

/* Header Text */
p#header {
  font-family: "Timmons NY 2.0", serif;
  text-transform: uppercase;
  text-decoration-color: cyan;
  font-size: 9rem;
  line-height: 90%;
  margin: 3rem 0 4rem 0;
}

/* Slider container */
.slider {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* Slider wrapper */
.slider-wrapper {
  position: absolute;
  top: 0;
  width: 8000px; /* accommodates all slides horizontally */
  padding: 0 100px;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 100px;
}

/* Individual slides */
.slide {
  width: 400px;
  height: 500px;
  background: #e3e3e3;
}

/* Slide images */
.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}